body {
    background-color: black;
}

.container {
    text-align: center;;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-color: aliceblue;
}

.service {
    margin-top: 20px;
}

.submit {
    margin-top: 20px;
}